.card-wrapper {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: #fffffe;
    margin-top: 0.5rem;
}

.card-wrapper:first-child {
    margin-top: 0;
}

@media only screen and (min-width: 640px) {
    .card-wrapper {
        margin-top: 0;
        width: 14rem;
    }
}

@media only screen and (min-width: 850px) {
    .card-wrapper {
        width: 20rem;
    }
}

@media only screen and (min-width: 1000px) {
    .card-wrapper {
        width: 24rem;
    }
}

@media only screen and (min-width: 1150px) {
    .card-wrapper {
        width: 28rem;
    }
}

@media only screen and (min-width: 1300px) {
    .card-wrapper {
        width: 32rem;
    }
}


