body,
html {
    height: 100%;
    margin: 0;
    /*0.2vmin = 0.2% of the viewport width or height depending on which is smaller*/
    font-size: calc(14px + 0.2vmin);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin: 0.3rem 0 0.3rem 0;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#root {
    height: 100%
}
