# build/output directories
backend/public
./frontend/out/
dist
build

# dependencies
node_modules/
__pycache__
.pytest_cache

# logs
inky_dash.log*
TODO.md

# stores
store.json

# debug
result.png

# IDE
.vscode
.idea
