@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl 
  md:text-6xl 
  font-bold 
  text-orange-400 
  py-2
  md:py-3;
}

h2 {
  @apply text-lg
  my-2
  font-bold
  text-slate-200
}

h3 {
  @apply text-base
  text-slate-100
  font-bold
  my-1;
}

p {
  @apply text-base
  my-1;
}

a {
  @apply text-blue-300
  hover:text-blue-500;
}

ul {
  @apply list-inside
  list-disc
  ml-4
}

select {
  @apply bg-gray-50
  border-2
  border-gray-300
  text-gray-900
  text-sm
  rounded-lg
  focus:outline-none
  focus:border-orange-500
  block
  w-full
  h-10
  px-1
  md:px-2.5
  dark:bg-gray-700
  dark:border-gray-600
  dark:placeholder-gray-400
  dark:text-white
  dark:focus:border-orange-500;
}

input[type="number"] {
  @apply bg-gray-50
  border
  border-gray-300
  text-gray-900
  text-sm
  rounded-lg
  focus:ring-blue-500
  focus:border-blue-500
  block
  w-full
  p-2.5
  dark:bg-gray-700
  dark:border-gray-600
  dark:placeholder-gray-400
  dark:text-white
  dark:focus:ring-blue-500
  dark:focus:border-blue-500;
}

label {
  @apply block
  mb-2
  text-sm
  font-medium
  text-gray-900
  dark:text-white;
}

button.default {
  @apply w-fit
  text-white
  bg-blue-700
  hover:bg-blue-800
  focus:ring-4
  focus:ring-blue-300
  font-medium 
  rounded-lg
  text-sm
  px-5
  py-2.5
  dark:bg-orange-600
  dark:hover:bg-orange-700
  focus:outline-none
  dark:focus:ring-orange-800;
}

button.default:disabled {
  @apply bg-gray-200
  opacity-50
  cursor-not-allowed
  text-gray-500
  border-gray-200
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
