.nav-bar {
    display: flex;
    width: 100%;
    background-color: #fffffe;
    height: 3rem;
    /*padding-left: 0.2rem;*/
}

@media only screen and (min-width: 640px) {
    .nav-bar {
        /*padding-left: 0.5rem;*/
    }
}

@media only screen and (min-width: 980px) {
    .nav-bar {
        /*padding-left: 3rem;*/
    }
}

.nav-bar-content {
    max-width: 80rem;
}

@media only screen and (min-width: 640px) {
    .nav-bar-content {
        width: 80%;
        margin: auto;
    }
}

.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    padding: 0.5rem;
    margin-right: 0.2rem;
    color: #00214d;
}

.nav-link:hover {
    color: #00ebc7;
}

.nav-link:last-child {
    margin-right: 0;
}

.active {
    color: #ff5470;
}

.nav-icon {
    font-size: 1.7rem;
}

.nav-text {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    display: none;
}

@media only screen and (min-width: 640px) {
    .nav-text {
        display: inline;
    }
}
