@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2');
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
